.add-recipe-btn{
    height: 9%;
    padding: 1px 26px 1px 23px;
    top: 70%;
    z-index: 1;
}

/* Media query for mobile view */
@media (max-width: 768px) {
    .add-recipe-btn {
        height: 9%;
        padding: 1px 26px 1px 23px;
        top: 68%;
        z-index: 1;
    }
}

@media (min-width: 1653px) {
    .add-recipe-btn {
        height: 6%;
        top: 75%;
        padding: 3px 23px;
        font-size: 17px;
    }
}